h2{
    text-align: center;
    background-color: black;
    color: aliceblue;
}
.container{
    padding: 40px;
    width: 400px;
    margin-left: 400px;
    box-shadow: 0 4px 8px green;
    background-color: rgb(216, 212, 212);
    border-radius: 10%;
}
.image{
    margin-left: 80px;
}
.old-price{
    text-decoration: line-through;
}
b{
    color: green;
}
body{
    background-color: rgb(178, 249, 182);
}
.add-to-cart{
    border: none;
    outline: 0;
    padding: 10px;
    color:white;
    background-color:#007bff;
    text-align: center;
    cursor:pointer;
    width:100%;
    font-size: 1em;
    border-radius: 4px;
    transition: background-color 0.3s;
}